@model int
@{
    ViewData["Title"] = $"Пони #{Model}";
}
<div class="text-center">
    <h2>Пони @Model</h2>
    <img src="/images/pony@Model.png" class="img-fluid mb-3" style="max-width:350px;">
    <div class="card p-3 mx-auto" style="max-width:400px;">
        <h4 class="mb-2" style="color:#e75480;">Описание</h4>
        <p>Это пони номер @Model из коллекции ToyPlanet.<br>Пастельные цвета, мягкая грива, идеальна для подарка!</p>
        <h5 class="mt-3">Цена: <span style="color:#a64ca6;">@((Model * 1000) + 990) ₽</span></h5>
        <a href="#" class="btn btn-primary mt-3">В корзину</a>
    </div>
    <a href="/Catalog" class="btn btn-link mt-4">← Назад в каталог</a>
</div>
